<div class="card">
  <div class="card-header text-center">
    <h3>{{employeeId==0?'Add Employee':'View Employee Details '}}</h3>
    <span style="float: right;">
      <h3><countdown #cd [config]="config" (event)="handleEvent($event)"></countdown></h3>
    </span>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="card">
        <div class="card-header">
          <h5>Profile details</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="profileDetailForm">
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Username:</label>
                <input type="text" 
                      class="form-control" 
                      formControlName="userName" 
                      placeholder="username"
                      [ngClass]="{'is-invalid': (profileDetailForm.get('userName')?.touched ||
                profileDetailForm.get('userName')?.dirty) &&
                                            !profileDetailForm.get('userName')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="profileDetailForm.get('userName')?.errors?.required">
                                                Please enter your username.
                                              </span>
                                              <span *ngIf="profileDetailForm.get('userName')?.errors?.maxlength || profileDetailForm.get('userName')?.errors?.minlength">
                                                The user name must be greater than 5 and less than 50 characters.
                                              </span>
                                            </span>
              </div>
            </div>
            <div class="row form-group" *ngIf="employeeId==0">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Password:</label>
                <input type="password" 
                        class="form-control" 
                        formControlName="password" 
                        placeholder="password"
                        [ngClass]="{'is-invalid': (profileDetailForm.get('password')?.touched ||
                profileDetailForm.get('password')?.dirty) &&
                                            !profileDetailForm.get('password')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="profileDetailForm.get('password')?.errors?.required">
                                                Enter your password
                                              </span>
                                              <span *ngIf="profileDetailForm.get('password')?.errors?.maxlength || profileDetailForm.get('password')?.errors?.minlength">
                                                The password must be at least 4 characters.
                                              </span>
                                              
                                            </span>
              </div>
            </div>
            <div class="row form-group" *ngIf="employeeId==0">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Confirm Password:</label>
                <input type="password" 
                class="form-control" 
                formControlName="confirmPassword" 
                placeholder="Confirm password"
                [ngClass]="{'is-invalid': (profileDetailForm.get('confirmPassword')?.touched ||
                                            profileDetailForm.get('confirmPassword')?.dirty) &&
                                            (!profileDetailForm.get('confirmPassword')?.valid ||profileDetailForm?.errors?.match )}">
                                            <span class="invalid-feedback">
                                              <span *ngIf="profileDetailForm.get('confirmPassword')?.errors?.required">
                                                Please confirm your password.
                                              </span>
                                              <br>
                                              <span *ngIf="profileDetailForm?.errors?.match">
                                                The passwords do not match.
                                              </span>
                                            </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="card">
        <div class="card-header ">
          <h5>Employee details</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="employeeDetailForm">
            
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Name:</label>
                <input type="text" 
                      class="form-control" 
                      formControlName="initials" 
                      placeholder="name"
                      [ngClass]="{'is-invalid': (employeeDetailForm.get('initials')?.touched ||
                      employeeDetailForm.get('initials')?.dirty) &&
                                            !employeeDetailForm.get('initials')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="employeeDetailForm.get('initials')?.errors?.required">
                                                Please enter your name.
                                              </span>
                                              <span *ngIf="employeeDetailForm.get('initials')?.errors?.maxlength || employeeDetailForm.get('initials')?.errors?.minlength">
                                                The name must be at least 3 characters.
                                              </span>
                                            </span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Surname:</label>
                <input type="text" 
                      class="form-control" 
                      formControlName="surname" 
                      placeholder="surname"
                      [ngClass]="{'is-invalid': (employeeDetailForm.get('surname')?.touched ||
                      employeeDetailForm.get('surname')?.dirty) &&
                                                  !employeeDetailForm.get('surname')?.valid }">
                                                  <span class="invalid-feedback">
                                                    <span *ngIf="employeeDetailForm.get('surname')?.errors?.required">
                                                      Please enter Surname.
                                                    </span>
                                                    <span *ngIf="employeeDetailForm.get('surname')?.errors?.maxlength || employeeDetailForm.get('surname')?.errors?.minlength">
                                                      The name must be at least 5 characters.
                                                    </span>
                                                  </span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Email Address:</label>
                <input type="email" 
                    class="form-control" 
                    formControlName="email" 
                    placeholder="email"
                    [ngClass]="{'is-invalid': (employeeDetailForm.get('email')?.touched ||
                    employeeDetailForm.get('email')?.dirty) &&
                                            !employeeDetailForm.get('email')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="employeeDetailForm.get('email')?.errors?.required">
                                                Please your email address.
                                              </span>
                                              <span *ngIf="employeeDetailForm.get('email')?.errors?.email">
                                                Enter a Valid Email Address.
                                              </span>
                                            </span>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Cell Number:</label>
                <input type="text" 
                    class="form-control" 
                    formControlName="cellNumber" 
                    placeholder="cellNumber"
                    [ngClass]="{'is-invalid': (employeeDetailForm.get('cellNumber')?.touched ||
                    employeeDetailForm.get('email')?.dirty) &&
                                            !employeeDetailForm.get('cellNumber')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="employeeDetailForm.get('cellNumber')?.errors?.required">
                                                Please enter the cell Number.
                                              </span>
                                            </span>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>ID Number:</label>
                <input type="text" 
                class="form-control" 
                formControlName="idNumber"
                 placeholder="Id number"
                 [ngClass]="{'is-invalid': (employeeDetailForm.get('idNumber')?.touched ||
                 employeeDetailForm.get('idNumber')?.dirty) &&
                                            !employeeDetailForm.get('idNumber')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="employeeDetailForm.get('idNumber')?.errors?.required">
                                                Please Enter Id Number.
                                              </span>
                                              <span *ngIf="employeeDetailForm.get('idNumber')?.errors?.maxlength || employeeDetailForm.get('idNumber')?.errors?.minlength">
                                                Id Number should be 13 characters.
                                              </span>
                                            </span>
              </div>
            </div>
            <div class="row form-group mt-5 mb-5">
              <div class="col-lg-4 col-md-3 col-sm-2 col-12">
                  <input style="display: none;" type="file" id="employeeImage"
                      (change)="uploadImage($event)" #file>
                  <button style=" color:rgb(252, 250, 250);" type="button" class="btn btn-primary" (click)="file.click()">Upload Image from device<i
                          class="fas fa-upload mg-l-10"></i></button>
                          <button class="btn btn-warning" (click)="triggerSnapshot();">Take Image with camera</button>

              </div>
              <div class="col-lg-8 col-md-6 col-sm-5 col-12">
              <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                <!-- Button Takes Photo -->
                <!-- Snapshot Div where image will be shown -->
                
            </div>
              <div class="col-lg-8 col-md-6 col-sm-5 col-12">
                  <!-- <img style="height:15rem; width: 15rem; float: rigth;" [src]="mandiImage.file" > -->
                  <img style="height:15rem; width: 15rem; float: rigth;" [src]="employeeImage.file"
                      *ngIf="employeeId==0 || employeeImage.file!=null">
                  <img style="height:15rem; width: 15rem; float: rigth;" [src]="imageUrl"
                      *ngIf="employeeId!=0 && employeeImage.file==null">
                      <div class="snapshot" *ngIf="webcamImage">
                        <h2>Preview:</h2>
                        <img style="height:15rem; width: 25rem; float: rigth;" [src]="webcamImage.imageAsDataUrl"/>
                      </div>
              </div>
          </div>
          <div class="row form-group mt-5 mb-5">
            <div class="col-lg-4 col-md-3 col-sm-2 col-12">
                <input style="display: none;" type="file" id="employeeDocument"
                    (change)="uploadDocument($event)" #documentFile>
                <button style=" color:rgb(252, 250, 250);" type="button" class="btn btn-primary" (click)="documentFile.click()">{{employeeDocument.file!=null?'Upload Document':'Upload Document'}}</button>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-5 col-12">
                <h4 style="height:15rem; width: 15rem; float: rigth;" *ngIf="employeeId==0 || employeeDocument.file!=null">{{employeeDocument.fileName}}</h4>
            </div>
        </div> 
        <div class="row form-group" style="visibility: hidden;">
          <div class="col-lg-6 col-md-4 col-sm-8 col-12">
            <label>UserType:</label>
            <input type="number" value="2" class="form-control" placeholder="User Type" formControlName="userTypeId">
          </div>
        </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="card">
        <div class="card-header ">
          <h5>Employment Details</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="employeeEmployeementDetailForm">
            <div class="row form-group">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Commencement date of employment:</label>
                <input type="date" 
                class="form-control" 
                formControlName="commenceDate"
                [ngClass]="{'is-invalid': (employeeEmployeementDetailForm.get('commenceDate')?.touched ||
                employeeEmployeementDetailForm.get('commenceDate')?.dirty) &&
                                            !employeeEmployeementDetailForm.get('commenceDate')?.valid }">
                                            <span class="invalid-feedback">
                                              <span *ngIf="employeeEmployeementDetailForm.get('commenceDate')?.errors?.required">
                                                Please enter Commence date.
                                              </span>
                                            </span>
              </div>
            </div>
            <div class="row form-group" *ngIf="employeeId!=0">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Termination date of employment:</label>
                <input type="date" class="form-control" formControlName="terminationDate">
              </div>
            </div>
            <div class="row form-group" *ngIf="employeeId!=0">
              <div class="col-lg-6 col-md-4 col-sm-8 col-12">
                <label>Termination Reason:</label>
                <textarea cols="10" rows="5" class="form-control" formControlName="terminationReason"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="row mt-5">
      <div class="col-12">
        <button type="button" class="btn btn-primary" style="float: right; margin-left: 5px;"
        data-bs-toggle="modal" data-bs-target="#additionConfirmation" [disabled]="!profileDetailForm.valid || !employeeDetailForm.valid || !employeeEmployeementDetailForm.valid">{{employeeId==0?'Save':'Update'}}</button>
        <button type="button" class="btn btn-secondary" style="float: right;" [routerLink]="'/employee/detail'">Cancel</button>
      </div>
    </div>
  </div>
</div>



<!-- Admin Addition Confimation Model -->
<div class="modal fade" id="additionConfirmation" tabindex="-1" aria-labelledby="additionConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Employee Addition confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Confirm Employee Addition</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitAddAdminForm()">Yes</button>
      </div>
    </div>
  </div>
</div>
