
<div class="card">
    <div  class="card-header text-center">
      <h3>Meeting Slots</h3>
    </div>
    <div class= "float-{sm,md,lg,xl}-right">
      <a type="button" class="btn btn-info" style="float: right;width: 8rem;" href="https://jaack-solutions-team8.github.io/index.html?page=booking-meeting-slot.html" target="_blank">Help</a>
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-12">
            <form [formGroup]="searchAdminSlotForm">
                <div class="row">
                    <div class="col-2">
                    </div>
                   
                    
                    <div class="col-2">
                    </div>          
                </div>
              </form>
          </div>
      </div>
      <div class="row mt-5 mb-5">
          <div class="col-2">

          </div>
        <div class="col-8">
            
          <div class="card">
            <div class="card-body">
              <div class="row">
                <table class="table">
                    <thead  style="background-color: rgb(103, 186, 241);">
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr scope="col" *ngFor="let slot of slotData">
                        <td scope="row">{{slot.date | date}}</td>
                        <td scope="row">{{slot.startTime | date:'shortTime'}}</td>
                        <td scope="row">{{slot.endTime | date:'shortTime'}}</td>
                        <td scope="row">
                            <button class="btn btn-outline-primary" (click)="bookSlot(slot)" >Book</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>

        </div>
        <div class="col-2">
        </div>
      </div>
    </div>
</div>
