
<div class="card">
    <div  class="card-header text-center">
      <h3>Meeting Details</h3>
    </div>
    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-12">
        <span class="input-group" style="float: right;">
            <input type="date" class="form-control" placeholder="meeting" aria-label="date" aria-describedby="basic-addon1" [(ngModel)]="searchDate">
            <button type="button" class="btn btn-outline-primary" style="float: left;"(click)="searchByDate()" >Search</button>
        </span>
    </div>
    </div>
  
    <div class="card-body">
      <div class="row mt-5 mb-5">
          <div class="col-2">
          </div>
          <div class= "float-{sm,md,lg,xl}-right">
            <a type="button" class="btn btn-info" style="float: right;width: 8rem;" href="https://jaack-solutions-team8.github.io/index.html?page=cancelling-meeting.html" target="_blank">Help</a>
          </div>
        <div class="col-8">
            
            <div class="card">
                <div class="card-body">
                  <div class="row">
                    <table class="table">
                        <thead  style="background-color: rgb(103, 186, 241);">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">StartTime</th>
                            <th scope="col">EndTime</th>
                            <th scope="col">Admin Name</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let slot of slotsData">
                            <td scope="row">{{slot.date | date}}</td>
                            <td scope="row">{{slot.startTime | date:'shortTime'}}</td>
                            <td scope="row">{{slot.endTime | date:'shortTime'}}</td>
                            <td scope="row">{{slot.adminName}}</td>
                            <td scope="row">
                              <button class="btn btn-outline-primary" (click)="cancelBooking(slot)">Cancel Booking</button>
                            </td>
                        </tbody>
                      </table>
                  </div>
                </div>
              </div>
  
        </div>
        <div class="col-2">
  
        </div>
  
      </div>
    </div>
  </div>